.primary-blue {
    -fx-background-color: #3A86FF;
}

.primary-violet {
    -fx-background-color: #8338EC;
}

.primary-pink {
    -fx-background-color: #FF006E;
}

.primary-orange {
    -fx-background-color: #FB5607;
}

.primary-yellow {
    -fx-background-color: #FFBE0B;
}

.navigation-button {
     -fx-background-color: #8338EC;
}

.navigation-button:hover {
    -fx-background-color: #3A86FF;
}
